= simple_form_for @food, html: { multipart: true } do |f| 
- if @food.errors.any?
#errors
%p
= @food.errors.count
Prevented this food from saving
%ul
-@food.errors.full_messages.each do |msg|
	%li= msg
	.panel-body
	= f.input :title, input_html: { class: 'form-control' }
	= f.input :description, input_html: { class: 'form-control' }
	= f.button :submit, class: "btn btn-primary"
